.logotipo{
    font-size: 24px;
    color: #1abc9c;
    font-weight: bold;
}

.corPadrao{
    background:#75dab9;
}

.corTexto{
    color:#fff"
}

.titulo{
    text-align: center;
    font-weight: bold;
}

.error{
    color:red;
    font-size:12px;
}

#cabecatabela{
    background-color:#f7bf5e;
    font-weight: bold;
    color:hsl(0, 2%, 8%);   
}

#cabeca-modal{
    background-color:#f7b84bcc;
    height:40px;
}

#cabeca-modal h4{
   color:white;
   margin-top:-10px;
}

.corInput{
  background: #fff;
}

#foto{
    border:solid #709f89 1px"
}

.tabelaClicked:hover{
    background: #ddfff6;
}

#InputMostrar{
    pointer-events: none;
    font-weight: bolder;
    color:#3bafda;
}

#Linha{
    height:1px;
    color:#f5f6f8;
    background-color:rgb(211, 214, 213);
}

.tabela-relatorio{
    border: 1px solid #d1cece;
}

.tabela-relatorio > tr{
    border: 1px solid #d1cece;
}

.tabela-relatorio > tr > td{
    border: 1px solid #d1cece;
}

.cor-azulE{
    background: #295380;
    color: #fff;
}

.cor-azulC{
    background: #e0efff;
    color: #111;
}

.cor-verdeE{
    background: #0d661c;
    color: #fff;
}

.cor-verdeC{
    background: #afe6cb;
    color:#111111
}

#linhaDado{
    margin-top:-15px;
}

.cor-azulTexto{
    color: #5e9ee2;
    font-weight: bold;
}

.cor-laranjaTexto{
    color: #f5b648;
    font-weight: bold;
}

.cor-verdeTexto{
    color: #4da179;
    font-weight: bold;
}

.cor-laranjaTexto{
    color: #f7a40a;
    font-weight: bold;
}